body{
    font-family: Poppins;
    background-color: #ebe9e4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    font-size: large;
    text-align: center;
    font-family: Poppins;
    background-color: #a3b18a;
    padding: 10px 10px;
}

nav{
    background-color: #588157;
    text-align: center;
    font-family: Poppins;
    font-size: medium;
    padding: 14px 15px;
}

nav ul a:hover{
    background-color: #344e41;
}

nav ul a {
    padding: 30px;
    text-decoration: none;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

h2{
    text-align: center;
}



main{
    justify-content: center;
    margin: auto;
    margin-left: 30%;
}

footer{
    background-color: #a7c7b7;
    height: 40px;
    text-align: center;
    padding: 10px 10px;    
}


.barra-izquierda a {
    display: flex;
    padding: 15px;
}

.barra-izquierda a:hover{
    background-color: #a3b18a;
    display: flex;
}

.barra-izquierda{
    float: left;
    background-color: #dad7cd;
    transition: 0.4s;
    position: fixed;
    left: -160px;
    height: 100%;
    width: 175px;
    padding: 10px;
}

.barra-izquierda:hover {
    left: 0px;
}

.bar {
    text-align: right;    
}

iframe{
    padding-left: 15%;
}