body{
    font-family: Poppins;
    background-color: #ebe9e4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    font-size: large;
    text-align: center;
    font-family: Poppins;
    background-color: #a3b18a;
    padding: 10px 10px;
}

nav{
    background-color: #588157;
    text-align: center;
    font-family: Poppins;
    font-size: medium;
    padding: 14px 15px;
}

nav ul a:hover{
    background-color: #344e41;
}

nav ul a {
    padding: 30px;
    text-decoration: none;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.barra-izquierda a {
    display: flex;
    padding: 15px;
}


.barra-izquierda a:hover{
    background-color: #a3b18a;
    display: flex;
}

.barra-izquierda{
    float: left;
    background-color: #dad7cd;
    transition: 0.4s;
    position: fixed;
    left: -160px;
    height: 100%;
    width: 175px;
    padding: 10px;
}

.barra-izquierda:hover {
    left: 0px;
}

.bar {
    text-align: right;    
}

h3{
    text-align: justify;
    padding: 12px;
}

p{
    text-align: justify;
}

footer{
    background-color: #a7c7b7;
    height: 40px;
    text-align: center;
    padding: 10px 10px;    
}

main section {
    background-color: #fff;
    margin: 40px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 10px;
    border: grey 3px dotted;
    display: flex;
}

img {
    float: right;
    display: flex;
    width: 25%;
    height: 25%;
}

