body{
    font-family: Poppins;
    background-color: #ebe9e4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    font-size: large;
    text-align: center;
    font-family: Poppins;
    background-color: #a3b18a;
    padding: 10px 10px;
}

nav{
    background-color: #588157;
    text-align: center;
    font-family: Poppins;
    font-size: medium;
    padding: 14px 15px;
}

nav ul a:hover{
    background-color: #344e41;
}

nav ul a {
    padding: 30px;
    text-decoration: none;
    color: #000000;
}

a{
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

footer{
    background-color: #a7c7b7;
    height: 40px;
    text-align: center;
    padding: 10px 10px;   
}


img {
    width: 10%;
    height: 10%;
    margin: 20px;
    float: left;
    border: solid 3px black;
}

section {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

li {
    margin-bottom: 10px;  
}